h1 {
  color: #4B0082;
  font-size: 24px;
}

h2 {
  color: #4B0082;
  text-align: center;
  font-size: 18px;
}

p {
  color: #4B0082;
  line-height: 1.5;
}

a {
  color: #623FE9;
  text-decoration: none;
}

a:hover {
  color: red;
  text-decoration: underline;
}

a:focus {
  color: purple;
  text-decoration: underline;
}
ul li{
	list-style-type:none;
	display:inline
	}
	
li a{
	display:block;
	float:top;
	padding:4px 10px;
	border: 2px double purple;
	background:#D682F5
	}
	
li  a{
	text-decoration:none;
	color:#fff
	}
	
li a:hover{
	text-decoration:none;
	color:#560C70;
	padding:7px 14px;
	top:-3px
	}
	
option:first-child {
  color: #8A2BE2;
  font-weight: bold;
}

option:nth-child(2n){
background:#9400D3;
color:white
}


.brd {
    border: 4px double purple;
    background: #D67CFC;
    padding: 10px; 
   }